# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.lock

# Environment
.env
.env.local
.env*.local

# Secrets
*.pem
*.key
*.jks
*.p12
google-services.json
GoogleService-Info.plist

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/.phony_generator_lock/

# Android
android/.gradle
android/.idea
android/gradle.properties
android/local.properties

# Logs
*.log
